/* reset */
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

.logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

header {
    background-color: red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.btn-order {
    background-color: rgb(57, 136, 255);
    color: rgb(255, 255, 255);
    padding: 10 30px;
    border-radius: 20px;
}

/* hero section */
#hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(255, 166, 107);
}

#hero-content img  {
    width: auto;
    height: 300px;
    border-radius: 5px;
    align-items: center;
}

.hero-content {
    max-width: 600px;
    
}

.hero-content h1 {
    font-size: 2.5rem;
}

.button {
    background-color: rgb(50, 119, 255);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50px;
    text-decoration: none;
}

/* product */
#product h1 {
    padding: 40 0 0 40px;
    text-align: center;
    background-color: rgb(0, 174, 255);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
    background-color: rgb(255, 227, 191);
}

.product {
    text-align: center;
    max-width: 30px;
    margin: 100%;
}

#product img {
    width: auto;
    height: 200px;
    border-radius: 5px;
}

/* testimonial */
#testimonial {
    background-color: rgb(254, 213, 160);
    padding: 10px;
    text-align: center;
}

.testimonial {
    margin: auto;
    max-width: 300px;
}

#testimonial img {
    width: auto;
    height: 200px;
    border-radius: 5px;
    justify-content: center;
    

}

/* contact us section */
#contact {
    padding:  40px;
    text-align: center;
}

form input,
form textarea {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    color: rgb(255, 182, 99);
}

button {
    padding: 10px 20px;
    background-color: rgb(73, 173, 255);
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
}

/* footer */
footer {
    background-color: rgb(255, 55, 55);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px;
}

footer div img {
    height: 100px;
    width: 100px;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

@media (max-width:760px) {
    nav ul {
        display: none;
    }
    nav {
        flex-direction: column;
    }

    .btn-order {
        margin-top: 10px;
    }
#hero {
    flex-direction: column;
    text-align: center;
}

.testimonial {
    flex-direction: column;
    margin: auto;
}

form input,
form textarea {
    width: 90px;
    }
}

@media (max-width:480px) {
    .hero-content h1 {
        font-size: 1.8rem;
    }

    .product {
        width: 100%;
        margin-bottom: 20px;
    }
}

